# Ignore system files
.DS_Store

# Ignore compiled Python files (configuration and caché)
__pycache__/
*.py[cod]
*.pyc


# Ignorar el entorno virtual
venv/
.venv/

# Ignorar environment variables files
env
.env

